<html>
<head>
    <title>PHOSS: $code</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <style>
        .overflower {
            overflow: auto;
        }

        .main.container {
            margin-top: 7em;
        }
    </style>
</head>
<body>
<div class="ui fixed blue menu">
    <a class="item">$code</a>
    <a href="#metadata" class="item">Metadata</a>
    <a href="#molecules" class="item">Molecules</a>
    <a href="#spectra" class="item">Spectra</a>
    <div class="right menu">
        <a href="#build" class="item">Build details</a>
        <div class="item">
        <a class="ui label small green" href="#build">
            <i class="check icon"></i>$success
        </a>
        #if ($warnings)
            <a class="ui label small yellow" href="#build">
                <i class="exclamation icon"></i>$warnings
            </a>
        #end
        #if ($failures)
            <a class="ui label small red" href="#build">
                <i class="exclamation triangle icon"></i>$failures
            </a>
        #end
        </div>
    </div>
</div>
<div class="ui main container">
    <h2 class="ui header"><a id="metadata">Metadata</a></h2>
    <table class="ui celled table">
        <tbody>
        <tr>
            <td>Id</td>
            <td>$code</td>
        </tr>
        <tr>
            <td>Synonyms</td>
            <td>
                #foreach($synonym in $metadata.synonyms)
                    <div class="ui label blue">$synonym</div>
                #end
            </td>
        </tr>
        <tr>
            <td>Creators</td>
            <td>
                #foreach($creator in $metadata.creators)
                    <div class="ui label blue">$creator</div>
                #end
            </td>
        </tr>
        </tbody>
    </table>
    <h2 class="ui header"><a id="molecules">Molecules</a></h2>
    <div class="ui one column grid">
        #foreach($molecule in $molecules)
            <div class="column">
                <div class="ui fluid card">
                    <div class="content">
                        <img class="left ui image" src="$molecule.depiction" alt="molecule_depiction">
                        <div class="header">
                            $molecule.names[0]
                        </div>
                        <div class="description">
                            <table class="ui celled table">
                                <tbody>
                                <tr>
                                    <td>Names:</td>
                                    <td>#foreach($name in $molecule.names)
                                        <div class="ui label blue">$name</div>
                            #end</td>
                                </tr>
                                <tr>
                                    <td>InChI</td>
                                    <td>
                                        <div class="overflower">$molecule.inchi</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>InChI key</td>
                                    <td>$molecule.inchikey</td>
                                </tr>
                                <tr>
                                    <td>Smiles</td>
                                    <td>$molecule.smiles</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        #end
    </div>

    <h2 class="ui header"><a id="spectra">Spectra</a></h2>
    <div class="ui one column grid">
        #foreach($spectrum in $spectra)
            <div class="column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">
                            $spectrum.type
                            $spectrum.metadata.nmrType
                            $spectrum.metadata.frequencies
                            : <a href="$spectrum.path">$spectrum.title</a>
                        </div>
                        <div class="description">
                            <pre>$spectrum.description</pre>
                        </div>
                    </div>
                </div>
            </div>
        #end
    </div>

    <h2 class="ui header"><a id="build">Build</a></h2>
    <a class="ui blue image label">Date
        <div class="detail">$date</div>
    </a>
    <a class="ui blue image label">Builder version
        <div class="detail">$version</div>
    </a>
    #foreach($status in $processorsStatus)
        #if ($status.status == "FRESH")
            #set ($icon = "snowflake cyan")
            #set ($color = "cyan")
        #elseif ($status.status == "WARNING")
            #set ($icon = "exclamation red")
            #set ($color = "orange")
        #elseif ($status.status == "SUCCESSFUL")
            #set ($icon = "check green")
            #set ($color = "green")
        #elseif ($status.status == "FAILED")
            #set ($icon = "exclamation triangle red")
            #set ($color = "red inverted")
        #elseif ($status.status == "SKIPPED")
            #set ($icon = "fast forward blue")
            #set ($color = "blue")
        #end
        <div class="ui segment $color">


            <i class="$icon icon"></i>
            $status.name $status.message
            <div class="description">$status.timestamp </div>
        </div>
    #end
</div>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>
